<h1>Ali Twitter V0.0.2</h1>
<%= form_with scope: :tweets, url: tweets_path, local: true do |form| %>
  <p> <%= form.text_area :content, maxlength: 139, size: "50x5", :value => "What's Happening?" %> </p>
  <p> <%= form.submit "Tweets!" %> </p>
<% end %>
<h2>Tweets</h2>
<table>
  <% @tweets.each do |tweet| %>
  <tr>
    <table id="<%= dom_id(tweet) %>">
      <tr>
        <td> <p style="white-space: pre-line;"> <%= tweet.content %> </p> </td>
      </tr>
      <tr>
        <td> <%= tweet.created_at %> </td>
        <td> <%= link_to 'delete', tweet_path(tweet), method: 'delete' %> </td>
      </tr>
    </table>
  </tr>
  &nbsp;
  <% end %>
</table>

